<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="container">
    <h1>This is features page beatch</h1>
    <a href="/">Back</a>
  </div>

  <div id="app">

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/app.js"></script>
</body>
</html>