<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="container">
    <div id="app">
      <div class="spinner-border" role="status" v-if="servers.length === 0">
        <span class="visually-hidden">Loading...</span>
      </div>
      <ul class="list-group" v-else>
        <li class="list-group-item" v-for="server in servers">{{server.name}}</li>
      </ul>
    </div>
    <h1>This is features page beatch</h1>
    <a href="/">Back</a>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/app.js"></script>
</body>
</html>