<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="container">
    <h1>This is main page beatch</h1>
    <a href="/features">Features</a>
  </div>
</body>
</html>